# Notebook with GTFS methods

Goals: 

* Make a way to calculate the scheduled number of current active trips given a date, time, and route. 
    - Take datetime and find what services are active on that date 
    - Find what trips run on those services + route 
    - Find which of those trips are "in progress" per stop_times
* ~Output most common shape by route~

In [1]:
# imports 

import boto3
import os
import pandas as pd
import zipfile
import requests
import pendulum
from io import BytesIO
import shapely
import geopandas

In [2]:
# local 
# CTA_GTFS = zipfile.ZipFile('cta_gtfs_20220509.zip')
# s3
# follow https://pythonguides.com/download-zip-file-from-url-using-python/
# CTA_GTFS = zipfile.ZipFile(BytesIO(requests.get('https://chn-ghost-buses-public.s3.us-east-2.amazonaws.com/cta_static_gtfs/cta_gtfs_20220509.zip').content))
# cta website
CTA_GTFS = zipfile.ZipFile(BytesIO(requests.get('https://www.transitchicago.com/downloads/sch_data/google_transit.zip').content))

In [3]:
class GTFSFeed:
    def __init__(self, gtfs_zipfile):
        self.gtfs_zipfile = gtfs_zipfile
        try: 
            with self.gtfs_zipfile.open('stops.txt') as file:
                    self.stops = pd.read_csv(file, dtype = 'object')
                    print("stops.txt loaded")
            with self.gtfs_zipfile.open('stop_times.txt') as file:
                    self.stop_times = pd.read_csv(file, dtype = 'object')
                    print("stop_times.txt loaded")
            with self.gtfs_zipfile.open('routes.txt') as file:
                    self.routes = pd.read_csv(file, dtype = 'object')
                    print("routes.txt loaded")
            with self.gtfs_zipfile.open('trips.txt') as file:
                    self.trips = pd.read_csv(file, dtype = 'object')
                    print("trips.txt loaded")
        except KeyError as e:
            print("GTFS is missing required file")
            print(e)
        if 'calendar.txt' in self.gtfs_zipfile.namelist():
                with self.gtfs_zipfile.open('calendar.txt') as file:
                        self.calendar = pd.read_csv(file, dtype = 'object')
                        print("calendar.txt loaded")
        else:
            print("no calendar.txt found")
        if 'calendar_dates.txt' in self.gtfs_zipfile.namelist():
                with self.gtfs_zipfile.open('calendar_dates.txt') as file:
                        self.calendar_dates = pd.read_csv(file, dtype = 'object')
                        print("calendar_dates.txt loaded")
        else:
            print("no calendar_dates.txt found")
        if 'shapes.txt' in self.gtfs_zipfile.namelist():
                with self.gtfs_zipfile.open('shapes.txt') as file:
                        self.shapes = pd.read_csv(file, dtype = 'object')
                        print("shapes.txt loaded")
        else:
            print("no shapes.txt found")

In [4]:
data = GTFSFeed(CTA_GTFS)

stops.txt loaded
stop_times.txt loaded
routes.txt loaded
trips.txt loaded
calendar.txt loaded
calendar_dates.txt loaded
shapes.txt loaded

## Basic data transformations

Ex. creating actual timestamps

In [5]:
# def make_timestamp(s, date):
#     parts = s.split(':')
#     assert len(parts)==3
#     if int(parts[0]) > 23:
#         num_parts = [int(parts[0]) - 24, int(parts[1]), int(parts[2])]
#     else:
#         num_parts = [int(parts[0]), int(parts[1]), int(parts[2])]
#     return pendulum.datetime(year = date.year, month = date.month, day = date.day, hour = num_parts[0], minute = num_parts[1], second = num_parts[2])

In [34]:
def get_hour(s):
    parts = s.split(':')
    assert len(parts)==3
    hour = int(parts[0])
    if hour >= 24:
        hour -= 24
    return hour

In [35]:
# convert string dates to actual datetimes in calendar.txt and calendar_dates.txt
data.calendar['start_date_dt'] = data.calendar['start_date'].apply(lambda x: pendulum.from_format(x, 'YYYYMMDD'))
data.calendar['end_date_dt'] = data.calendar['end_date'].apply(lambda x: pendulum.from_format(x, 'YYYYMMDD'))

data.calendar_dates['date_dt'] = data.calendar_dates['date'].apply(lambda x: pendulum.from_format(x, 'YYYYMMDD'))

In [36]:
# extract hour from stop_times timestamps 
data.stop_times['arrival_hour'] = data.stop_times.arrival_time.apply(lambda x: get_hour(x))
data.stop_times['departure_hour'] = data.stop_times.departure_time.apply(lambda x: get_hour(x))

In [37]:
# check that there are no dwell periods that cross hour boundary
data.stop_times[data.stop_times.arrival_hour != data.stop_times.departure_hour]

Empty DataFrame
Columns: [trip_id, arrival_time, departure_time, stop_id, stop_sequence, stop_headsign, pickup_type, shape_dist_traveled, arrival_hour, departure_hour]
Index: []

In [38]:
# construct a datetime index that has every day between calendar start and end 
calendar_date_range = pd.DataFrame(pd.date_range(min(data.calendar.start_date_dt), max(data.calendar.end_date_dt)), columns = ['raw_date'])

In [39]:
# cross join calendar index with actual calendar to get all combos of possible dates & services 
calendar_cross = calendar_date_range.merge(data.calendar, how = "cross")

In [40]:
# extract day of week from date index date
calendar_cross['dayofweek'] = calendar_cross['raw_date'].dt.dayofweek

In [41]:
# take wide calendar data (one col per day of week) and make it long (one row per day of week)
actual_service = calendar_cross.melt(id_vars = ['raw_date', 'start_date_dt', 'end_date_dt', 'start_date', 'end_date', 'service_id', 'dayofweek'], var_name = 'cal_dayofweek', value_name = 'cal_val')

In [42]:
# map the calendar input strings to day of week integers to align w pandas dayofweek output
actual_service['cal_daynum'] = actual_service['cal_dayofweek'].map({
    'monday': 0,
    'tuesday': 1,
    'wednesday': 2,
    'thursday': 3,
    'friday': 4,
    'saturday': 5,
    'sunday': 6
})

In [43]:
# now check for rows that "work"
# i.e., the day of week matches between datetime index & calendar input
# and the datetime index is between the calendar row's start and end dates
actual_service = actual_service[(actual_service.dayofweek == actual_service.cal_daynum) & 
                               (actual_service.start_date_dt <= actual_service.raw_date) &
                               (actual_service.end_date_dt >= actual_service.raw_date)]

In [44]:
actual_service.head()

,raw_date,start_date_dt,end_date_dt,start_date,end_date,service_id,dayofweek,cal_dayofweek,cal_val,cal_daynum
389,2020-08-03 00:00:00+00:00,2020-08-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,20200801,20221231,BLS-101,0,monday,1,0
1299,2020-08-10 00:00:00+00:00,2020-08-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,20200801,20221231,BLS-101,0,monday,1,0
2209,2020-08-17 00:00:00+00:00,2020-08-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,20200801,20221231,BLS-101,0,monday,1,0
3119,2020-08-24 00:00:00+00:00,2020-08-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,20200801,20221231,BLS-101,0,monday,1,0
4029,2020-08-31 00:00:00+00:00,2020-08-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,20200801,20221231,BLS-101,0,monday,1,0

In [45]:
# now merge in calendar dates to the datetime index to get overrides
actual_service = actual_service.merge(data.calendar_dates, how = 'outer', left_on = ['raw_date', 'service_id'], right_on = ['date_dt', 'service_id'])

In [46]:
# now add a service happened flag for dates where the schedule indicates that this service occurred
# i.e.: calendar has a service indicator of 1 and there's no exception type from calendar_dates
# OR calendar_dates has exception type of 1
# otherwise no service 
# https://stackoverflow.com/questions/21415661/logical-operators-for-boolean-indexing-in-pandas
actual_service['service_happened'] = ((actual_service['cal_val'] == '1') & 
                                      actual_service['exception_type'].isnull()) | (actual_service['exception_type'] == '1')

In [47]:
# now fill in rows where calendar_dates had a date outside the bounds of the datetime index, so raw_date is always populated
actual_service['raw_date'] = actual_service['raw_date'].fillna(actual_service['date_dt'])

In [48]:
# filter to only rows where service occurred
service_happened = actual_service[actual_service.service_happened]

In [49]:
# join trips to only service that occurred
trips_happened = data.trips.merge(service_happened, how = 'left', on = 'service_id')

In [50]:
# get only the trip / hour combos that actually occurred
trip_stop_hours = data.stop_times[['trip_id', 'arrival_hour']].drop_duplicates()

In [51]:
# now join
# result has one row per date + row from trips.txt (incl. route) + hour
trip_summary = trips_happened.merge(trip_stop_hours, how = "left", on = "trip_id")

In [52]:
trip_summary.head()

,route_id,service_id,trip_id,direction_id,block_id,shape_id,direction,wheelchair_accessible,schd_trip_id,raw_date,...,end_date,dayofweek,cal_dayofweek,cal_val,cal_daynum,date,exception_type,date_dt,service_happened,arrival_hour
0,1,64701,6470000998020,1,647000001506,64708085,North,1,998020,2022-06-06 00:00:00+00:00,...,20220611,0.0,monday,1,0.0,NaN,NaN,NaT,True,8
1,1,64701,6470000998020,1,647000001506,64708085,North,1,998020,2022-06-07 00:00:00+00:00,...,20220611,1.0,tuesday,1,1.0,NaN,NaN,NaT,True,8
2,1,64701,6470000998020,1,647000001506,64708085,North,1,998020,2022-06-08 00:00:00+00:00,...,20220611,2.0,wednesday,1,2.0,NaN,NaN,NaT,True,8
3,1,64701,6470000998020,1,647000001506,64708085,North,1,998020,2022-06-09 00:00:00+00:00,...,20220611,3.0,thursday,1,3.0,NaN,NaN,NaT,True,8
4,1,64701,6470000998020,1,647000001506,64708085,North,1,998020,2022-06-10 00:00:00+00:00,...,20220611,4.0,friday,1,4.0,NaN,NaN,NaT,True,8

In [57]:
# now group to get trips by hour by date by route
route_daily_hourly_summary = trip_summary.groupby(by = ['raw_date', 'route_id', 'arrival_hour'])['trip_id'].count().reset_index()

In [60]:
route_daily_hourly_summary.rename(columns = {'arrival_hour': 'hour', 'trip_id': 'trip_count', 'raw_date': 'date'}, inplace = True)
route_daily_hourly_summary.date = route_daily_hourly_summary.date.dt.date
route_daily_hourly_summary.to_csv('route_daily_hourly_summary.csv', index = False)

## Most common shape by route

In [ ]:
# get trip count by route, direction, shape id
trips_by_rte_direction = data.trips.groupby(['route_id', 'shape_id', 'direction'])['trip_id'].count().reset_index()

In [ ]:
# keep only most common shape id by route, direction
# follow: https://stackoverflow.com/a/54041328
most_common_shapes = trips_by_rte_direction.sort_values('trip_id').drop_duplicates(['route_id','direction'],keep='last')

In [ ]:
# get additional route attributes
most_common_shapes = most_common_shapes.merge(data.routes, how = 'left', on = 'route_id')

In [ ]:
# make shapely points
# https://www.geeksforgeeks.org/apply-function-to-every-row-in-a-pandas-dataframe/
data.shapes['pt'] = data.shapes.apply(lambda row: shapely.geometry.Point((float(row['shape_pt_lon']), float(row['shape_pt_lat']))), axis = 1)

In [ ]:
data.shapes['shape_pt_sequence'] = pd.to_numeric(data.shapes['shape_pt_sequence'])

In [ ]:
# construct sorted list of shapely points
# custom aggregation function: https://stackoverflow.com/a/10964938

def make_linestring_of_points(sub_df):
    sorted_df = sub_df.sort_values(by = 'shape_pt_sequence')
    return shapely.geometry.LineString(list(sorted_df['pt']))

constructed_shapes = data.shapes.groupby('shape_id').apply(make_linestring_of_points).reset_index()

In [ ]:
# merge in the other route attributes
final = most_common_shapes.merge(constructed_shapes, how = 'left', on = 'shape_id')

In [ ]:
# make a "geometry" column for geopandas
final['geometry'] = final[0]

In [ ]:
# construct the geopandas geodataframe
final_gdf = geopandas.GeoDataFrame(data = final)

In [ ]:
# drop the column that's a list of shapely points
final_gdf = final_gdf.drop(0, axis = 1)

In [ ]:
# https://gis.stackexchange.com/questions/11910/meaning-of-simplifys-tolerance-parameter
final_gdf['geometry'] = final_gdf['geometry'].simplify(.0001)

In [ ]:
# save to file as geojson
with open('route_shapes_simplified_linestring.geojson', 'w') as f:
    f.write(final_gdf.loc[(final_gdf['route_type'] == '3')].to_json())